body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

#logo
{
    margin: 30px;
    max-width: 1000px;
    /* background-color: red; */
}

#logo-v
{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: v-draw 5s forwards;
}

@keyframes v-draw
{
    to { stroke-dashoffset: 0; }
}


nav {
    text-align: right;
}

nav a {
    color: black;
    font-size: 13px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    border-top: solid 1px #eee;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

article .header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
